body{
  max-width: 600px;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

header .header__top {

  background: $black;
  position: relative;
}

header .header__top-row {
  color: $white;
  background: $red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19.5px;
  font-family: Inter, sans-serif;
  height: 36px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 42px;
  padding-left: 74px;
  font-family: $font-main;
  text-transform: uppercase;
  font-size: 27px;
}

.header__title h1 {
  display: flex;
  letter-spacing: 3px;
}

.header__title strong{
  display: flex;
  align-items: center;
}

.header__title img{
  width: 43px;
}

header .header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}

.header__top-line {

}

.line {
  background: $white;
  width: 30px;
  height: 2px;
}

.header__top-line li {
  margin-bottom: 8px;
}


// Раскрывающееся меню


header .header__hide {
  width: 350px;
  height: 927px;
  position: absolute;
  margin-bottom: 100px;
}

header .header__nav{
  background: $white;
  color: $black;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

header .header__top-span-2{
  color: $black;
}

header .header__nav{
  color: $black;
}


