#screen {
  background: $black;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}
//Title

#screen .screen__title {
  background-image: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(255,255,255,1) 35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.screen__title h2{
  font-family: $font-main;
  font-weight: 700;
  font-size: 50px;
}

.screen__title p{
  font-family: $font-main;
  font-weight: 400;
  font-size: 25px;
  margin-top: 27px;
}

//Container

#screen .screen__container{
  background: $white;
  border-radius: 26px;
  max-width: 305px;
  height: 110px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

#screen .screen__container p {
  font-family: $font-main;
  font-weight: 400;
  font-size: 26px;
}

#screen .screen__container-1 {
  display: flex;
  padding-top: 13px;
}

#screen .screen__img-1{
  height: 28px;
  width: 180px;
  background-image: url(../src/img/Stars.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 13px;
}

#screen .screen__container-2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 9px;
  margin-left: 5px;
}

#screen .screen__img-2 {
  background-image: url(../src/img/Download.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
  margin-left: 10px;
}




