#screen {
  background: $black;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}

#screen .screen__title {
  background-image: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(255,255,255,1) 35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.screen__title h2{
  font-family: $font-main;
  font-weight: 700;
  font-size: 50px;
}

.screen__title p{
  font-family: $font-main;
  font-weight: 400;
  font-size: 25px;
  margin-top: 27px;
}